<div class="page-content">
  <div class="page-title-container">
    <div class="page-title-left">
      <h4>Settings</h4>
    </div>
    <div class="page-title-right">
    </div>
  </div>
  <div class='content-area'>
    <div class="settings-container">
      <div class="card card-settings">
        <div class="card-body">
          <div class="nav-tabs-container nav-tabs-style3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="myprofile-tab" data-bs-toggle="tab" data-bs-target="#myprofile-tab-pane"
                  type="button" role="tab" aria-controls="myprofile-tab-pane" aria-selected="true">My Profile</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="changepassword-tab" data-bs-toggle="tab" data-bs-target="#changepassword-tab-pane"
                  type="button" role="tab" aria-controls="changepassword-tab-pane" aria-selected="false">Change Password</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications-tab-pane"
                  type="button" role="tab" aria-controls="notifications-tab-pane" aria-selected="false">Notifications</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="myprofile-tab-pane" role="tabpanel" aria-labelledby="myprofile-tab"
                tabindex="0">...</div>
              <div class="tab-pane fade" id="changepassword-tab-pane" role="tabpanel" aria-labelledby="changepassword-tab"
                tabindex="0">
                  <div class="card card-settings-inner">
                      <div class="card-header">
                          <h4>Change Password</h4>
                      </div>
                      <div class="card-body">
                          <div class="form-group">
                              <label class="form-label">Old Password</label>
                              <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                              <label class="form-label">New password</label>
                              <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                              <label class="form-label">Confirm new password</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="card-footer">
                           
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="notifications-tab-pane" role="tabpanel" aria-labelledby="notifications-tab"
                tabindex="0">...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>