<div class="authentication">
  <div class="auth-outer">
    <div class="auth-left">
      <!-- Login Start -->
      <div *ngIf="!verifyPhase" class='auth-forms-outer'>
        <div class="auth-card">
          <div>
            <img [src]="captchaImage" alt="test">
            <div class="form-group-icon-start">
              <input type="email" class="form-control" placeholder="Your Captcha" [(ngModel)]="captchaInput"/>
              <div>
                <button class="btn btn-primary" (click)="captchaVerification()">Verify</button>
                <button class="btn btn-primary" (click)="captchaRegenertion()">Regenerate</button>
              </div>
            </div>
          </div>
          <div class='auth-titlebar'>
            <div class="auth-logo-small">
              <img src="assets/images/auth-logo-small.svg" alt="Portfolio - Angular">
            </div>
            <h4>Welcome Back</h4>
            <div class="nav-tabs-container nav-tabs-auth">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" [ngClass]="{ 'active': selectedLoginMode === enumForLoginMode.EMAIL_PASSWORD}"
                    (click)="onChangeLoginMode(enumForLoginMode.EMAIL_PASSWORD)" id="email-tab" data-bs-toggle="tab"
                    data-bs-target="#email-tab-pane" type="button" role="tab" aria-controls="email-tab-pane" aria-selected="true"><i
                      class="bi bi-envelope-fill"></i>Email
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" [ngClass]="{ 'active': selectedLoginMode === enumForLoginMode.MOBILE_LOGIN}"
                    (click)="onChangeLoginMode(enumForLoginMode.MOBILE_LOGIN)" id="mobile-tab" data-bs-toggle="tab"
                    data-bs-target="#mobile-tab-pane" type="button" role="tab" aria-controls="mobile-tab-pane" aria-selected="false"><i
                      class="bi bi-telephone"></i>Mobile
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="nav-tabs-container">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" [ngClass]="{ 'show active': selectedLoginMode === enumForLoginMode.EMAIL_PASSWORD}"
                tabindex="0">
                <div class='auth-forms' [formGroup]="loginFormGroup">
                  <h6>Continue with email address</h6>
                  <div class="form-group">
                    <div class="form-group-icon-start">
                      <div class="control-icon"><i class="bi bi-envelope"></i></div>
                      <input type="email" class="form-control" placeholder="Your email" formControlName="email"
                        (keyup.enter)="onEmailPasswordLogin()" />
                    </div>
                    <p class="error-msg"
                      *ngIf="loginFormGroup.controls['email'].hasError('required') &&  loginFormGroup.controls['email'].touched">
                      {{utilsService.validationService.EMAIL_REQUIRED}}
                    </p>
                    <p class="error-msg"
                      *ngIf="!loginFormGroup.controls['email'].hasError('required') && !loginFormGroup.controls['email'].valid && loginFormGroup.controls['email'].touched">
                      {{utilsService.validationService.EMAIL_INVALID}}
                    </p>
                  </div>
                  <div class="form-group">
                    <div class="form-group-icon-start form-group-password">
                      <div class="control-icon"><i class="bi bi-lock"></i></div>
                      <input [type]="flagForPasswordHideShow? 'password' : 'text'" class="form-control" placeholder="Password"
                        formControlName="password" (keyup.enter)="onEmailPasswordLogin()" />
                      <button class="btn btn-password" (click)="flagForPasswordHideShow = !flagForPasswordHideShow">
                        <!-- <i class="bi bi-eye"></i> -->
                        <i class="bi bi-eye"
                          [ngClass]="{'bi bi-eye': flagForPasswordHideShow === false, 'bi bi-eye-slash': flagForPasswordHideShow}"></i>
                        <!-- <i class="bi bi-eye-slash"></i> -->
                      </button>
                    </div>
                    <!-- <p class="error-msg">Error Message Place Here...!!!</p> -->
                    <p class="error-msg"
                      *ngIf="loginFormGroup.controls['password'].hasError('required') &&  loginFormGroup.controls['password'].touched">
                      {{utilsService.validationService.PASSWORD_REQUIRED}}
                    </p>
                  </div>
                  <div class="forms-forgot-rememberme">
                    <div class="forms-forgot">
                      <a class="text-primary" [routerLink]="['/auth/forgot-password']">Forgot Password?</a>
                    </div>
                  </div>
                  <div class='forms-button'>
                    <button class="btn btn-primary" (click)="onEmailPasswordLogin()">Continue</button>
                    <asl-google-signin-button text="signin_with" type='standard' size='large'></asl-google-signin-button>
                    <!-- <button class="btn btn-google"><img src="assets/images/google.svg"
                        alt="Portfolio - Angular">Google</button> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="mobile-tab-pane" role="tabpanel" aria-labelledby="mobile-tab" [ngClass]="{ 'show active': selectedLoginMode === enumForLoginMode.MOBILE_LOGIN}"
                tabindex="0">
                <div class='auth-forms' [formGroup]="mobileLoginFormGroup">
                  <h6>Continue with mobile number</h6>
                  <div class="form-group">
                    <div class="form-group-icon-start">
                      <ng-select [items]="countryCodeList" bindLabel="label" bindValue="value" formControlName="country_code"
                        [clearable]="true" class="theme-ngselect" appendTo="body" placeholder="Country Code">
                      </ng-select>
                    </div>
                    <p class="error-msg"
                      *ngIf="mobileLoginFormGroup.controls['country_code'].hasError('required') &&  mobileLoginFormGroup.controls['country_code'].touched">
                      {{utilsService.validationService.COUNTRY_CODE_REQUIRED}}
                    </p>
                  </div>
                  <div class="form-group">
                    <div class="form-group-icon-start">
                      <div class="control-icon"><i class="bi bi-telephone"></i></div>
                      <input type="text" class="form-control" placeholder="Mobile No" maxlength="12" formControlName="mobile_no"
                        [(ngModel)]="mobileLoginObj.phone" (keyup.enter)="onMobileOTPLogin()" />
                    </div>
                    <p class="error-msg"
                      *ngIf="mobileLoginFormGroup.controls['mobile_no'].hasError('required') &&  mobileLoginFormGroup.controls['mobile_no'].touched">
                      {{utilsService.validationService.PHONE_NUMBER_REQUIRED}}
                    </p>
                    <p class="error-msg"
                      *ngIf="!mobileLoginFormGroup.controls['mobile_no'].hasError('required') && !mobileLoginFormGroup.controls['mobile_no'].valid && mobileLoginFormGroup.controls['mobile_no'].touched">
                      {{utilsService.validationService.PHONE_NUMBER_INVALID}}
                    </p>
                  </div>
                  <div class='forms-button'>
                    <button class="btn btn-primary" (click)="onMobileOTPLogin()">Continue</button>
                    <asl-google-signin-button text="signin_with" type='standard' size='large'></asl-google-signin-button>
                    <!-- <button class="btn btn-google"><img src="assets/images/google.svg"
                                          alt="Portfolio - Angular">Google</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='forms-footer'>
            Don’t have an account? <a class="auth-link" [routerLink]="['/auth/registration']">Sign up</a>
          </div>
        </div>
      </div>
      <!-- Login End -->

      <!-- Account Created Start -->
      <div *ngIf="selectedLoginMode === enumForLoginMode.MOBILE_LOGIN && verifyPhase" class='auth-forms-outer'>
        <div class="auth-card auth-card-otp">
          <div class='auth-titlebar'>
            <div class="auth-logo-small">
              <img src="assets/images/auth-otp-verify.svg" alt="Portfolio - Angular">
            </div>
            <h4>Verification</h4>
            <p>Enter the OTP send to <b class="text-primary me-2">{{mobileLoginObj?.phone}}</b>
              <button class="btn btn-icon" (click)="redirectToSignIn(null)"><i class="bi bi-pencil"></i></button>
            </p>
          </div>
          <div class='auth-forms'>
            <div class="form-group">
              <div class="form-group-otp">
                <ng-otp-input (keyup.enter)="onMobileLoginVerification()" (onInputChange)="onOtpChange($event)" [config]="otpInputConfig" #ngOtpInput></ng-otp-input>
              </div>
            </div>
            <div class="otp-resend-box">
              <!-- <p>Resend code in: <span class="text-primary"><b>2:30</b></span></p> -->
              <p class="mb-0"><button class="btn btn-resendotp" (click)="onResendOTP()">Resend OTP</button></p>
            </div>
            <div class='forms-button'>
              <button class="btn btn-primary" [disabled]="otpValue?.length === 6 ? false : true" (click)="onMobileLoginVerification()">Verify</button>
            </div>
          </div>
          <div class='forms-footer'>
            Back to <a class="auth-link" (click)="redirectToSignIn(true)">Sign In</a>
          </div>
        </div>
      </div>
      <!-- Account Created End -->
    </div>
    <div class="auth-right">
      <app-auth-sidebar></app-auth-sidebar>
    </div>
  </div>
</div>