<div class="page-content">
  <div class='content-area'>
    <ng-container *ngIf="!utilsService.isEmptyObjectOrNullUndefined(chartData)">
    
      <apx-chart [series]="columnChart.series" [chart]="columnChart.chart" [dataLabels]="columnChart.dataLabels"
        [plotOptions]="columnChart.plotOptions" [responsive]="columnChart.responsive" [xaxis]="columnChart.xaxis"
        [legend]="columnChart.legend" [fill]="columnChart.fill">
      </apx-chart>
    
      <apx-chart [series]="barChart.series" [chart]="barChart.chart" [dataLabels]="barChart.dataLabels"
        [plotOptions]="barChart.plotOptions" [xaxis]="barChart.xaxis">
      </apx-chart>
    
      <apx-chart [series]="donutChart.series" [chart]="donutChart.chart" [labels]="donutChart.labels"
        [responsive]="donutChart.responsive">
      </apx-chart>
    
      <apx-chart [series]="lineChart.series" [chart]="lineChart.chart" [xaxis]="lineChart.xaxis" [stroke]="lineChart.stroke"
        [tooltip]="lineChart.tooltip" [dataLabels]="lineChart.dataLabels">
      </apx-chart>
    
    </ng-container>
  </div>
</div>