<div class="page-content">
  <div class='content-area'>
    <ng-container *ngIf="chartOptionsCol">

      <apx-chart [series]="chartOptionsCol.series" [chart]="chartOptionsCol.chart"
        [dataLabels]="chartOptionsCol.dataLabels" [plotOptions]="chartOptionsCol.plotOptions"
        [responsive]="chartOptionsCol.responsive" [xaxis]="chartOptionsCol.xaxis" [legend]="chartOptionsCol.legend"
        [fill]="chartOptionsCol.fill"></apx-chart>

      <apx-chart [series]="chartOptionsBar.series" [chart]="chartOptionsBar.chart"
        [dataLabels]="chartOptionsBar.dataLabels" [plotOptions]="chartOptionsBar.plotOptions"
        [xaxis]="chartOptionsBar.xaxis"></apx-chart>

      <apx-chart [series]="chartOptionsDonut.series" [chart]="chartOptionsDonut.chart"
        [labels]="chartOptionsDonut.labels" [responsive]="chartOptionsDonut.responsive"></apx-chart>

    </ng-container>
  </div>
</div>