<div class="authentication">
  <div class="auth-outer">
    <div class="auth-left">
      <!-- Forgot Password Start -->
      <div class='auth-forms-outer' *ngIf="forgotPasswordStep === enumForForgotPasswordStep.EMAIL">
        <div class="auth-card auth-card-forgotpassword">
          <div class='auth-titlebar'>
            <div class="auth-logo-small">
              <img src="assets/images/auth-forgot-password.svg" alt="Portfolio - Angular">
            </div>
            <h4>Forgot Password</h4>
          </div>
          <div class='auth-forms' [formGroup]="forgotPassForm">
            <h6>Continue with email address</h6>
            <div class="form-group">
              <div class="form-group-icon-start">
                <div class="control-icon"><i class="bi bi-envelope"></i></div>
                <input type="email" class="form-control" placeholder="Your Email" formControlName="email"
                  [(ngModel)]="userOb.email" (keyup.enter)="otpGeneration()" />
              </div>
              <p class="error-msg"
                *ngIf="forgotPassForm.controls['email'].hasError('required') &&  forgotPassForm.controls['email'].touched">
                {{utilsService.validationService.EMAIL_REQUIRED}}
              </p>
              <p class="error-msg"
                *ngIf="!forgotPassForm.controls['email'].hasError('required') && !forgotPassForm.controls['email'].valid && forgotPassForm.controls['email'].touched">
                {{utilsService.validationService.EMAIL_INVALID}}
              </p>
            </div>
            <div class='forms-button'>
              <button class="btn btn-primary" (click)="otpGeneration()">Continue</button>
            </div>
          </div>
          <div class='forms-footer'>
            Back to <a class="auth-link" [routerLink]="['/auth/login']">Sign In</a>
          </div>
        </div>
      </div>
      <!-- Sign Up End -->

      <!-- OTP Start -->
      <div class='auth-forms-outer' *ngIf="forgotPasswordStep === enumForForgotPasswordStep.OTP_PHASE">
        <div class="auth-card auth-card-otp">
          <div class='auth-titlebar'>
            <div class="auth-logo-small">
              <img src="assets/images/auth-otp-verify.svg" alt="Portfolio - Angular">
            </div>
            <h4>Verification</h4>
            <p>Enter the Verification Code send to <b class="text-primary me-2">{{userOb?.email}}</b>
              <button class="btn btn-icon" (click)="onChangeStep(enumForForgotPasswordStep.EMAIL)"><i
                  class="bi bi-pencil"></i></button>
            </p>
          </div>
          <div class='auth-forms'>
            <div class="form-group">
              <div class="form-group-otp">
                <ng-otp-input (keyup.enter)="onSubmitOTP()" (onInputChange)="onOtpChange($event)" [config]="otpInputConfig"
                  #ngOtpInput></ng-otp-input>
              </div>
            </div>
            <div class="otp-resend-box">
              <!-- <p>Resend code in: <span class="text-primary"><b>2:30</b></span></p> -->
              <p class="mb-0"><button class="btn btn-resendotp" (click)="resendOtp()">Resend OTP</button></p>
            </div>
            <div class='forms-button'>
              <button class="btn btn-primary" (click)="onSubmitOTP()">Verify</button>
            </div>
          </div>
          <div class='forms-footer'>
            Back to <a class="auth-link" [routerLink]="['/auth/login']">Sign In</a>
          </div>
        </div>
      </div>
      <!-- OTP End -->

      <!-- Set New Password Start -->
      <div class='auth-forms-outer' *ngIf="forgotPasswordStep === enumForForgotPasswordStep.SET_PASSWORD">
        <div class="auth-card auth-card-newpassword">
          <div class='auth-titlebar'>
            <div class="auth-logo-small">
              <img src="assets/images/auth-forgot-password.svg" alt="Portfolio - Angular">
            </div>
            <h4>Set New Password</h4>
          </div>
          <div class='auth-forms' [formGroup]="passwordForm">
            <div class="form-group">
              <div class="form-group-icon-start form-group-password">
                <div class="control-icon"><i class="bi bi-lock"></i></div>
                <input [type]="flagForPasswordHideShow ? 'password' : 'text'" class="form-control"
                  placeholder="New Password" formControlName="password" (keyup.enter)="changePassword()" />
                <button class="btn btn-password" (click)="flagForPasswordHideShow = !flagForPasswordHideShow">
                  <i class="bi bi-eye"
                    [ngClass]="{'bi bi-eye': !flagForPasswordHideShow, 'bi bi-eye-slash': flagForPasswordHideShow}"></i>
                </button>
              </div>
              <p class="error-msg"
                *ngIf="passwordForm.controls['password'].hasError('required') &&  passwordForm.controls['password'].touched">
                {{utilsService.validationService.PASSWORD_REQUIRED}}
              </p>
              <p class="error-msg"
                *ngIf="passwordForm.controls['password'].hasError('pattern') && passwordForm.controls['password'].touched">
                {{ utilsService.validationService.PASSWORD_INVALID }}
              </p>
            </div>
            <div class="form-group">
              <div class="form-group-icon-start form-group-password">
                <div class="control-icon"><i class="bi bi-lock"></i></div>
                <input [type]="flagForConfirmPasswordHideShow ? 'password' : 'text'" class="form-control"
                  placeholder="Confirm Password" formControlName="confirm_password" (keyup.enter)="changePassword()" />
                <button class="btn btn-password"
                  (click)="flagForConfirmPasswordHideShow = !flagForConfirmPasswordHideShow">
                  <i class="bi bi-eye"
                    [ngClass]="{'bi bi-eye': !flagForConfirmPasswordHideShow, 'bi bi-eye-slash': flagForConfirmPasswordHideShow}"></i>
                </button>
              </div>
              <p class="error-msg"
                *ngIf="passwordForm.hasError('confirmed_check') && passwordForm.controls['password'].touched">
                {{utilsService.validationService.CONFIRM_PASSWORD_NOT_MATCHED}}
              </p>
            </div>
            <div class='forms-button'>
              <button class="btn btn-primary" (click)="changePassword()">Continue</button>
            </div>
          </div>
          <div class='forms-footer'>
            Back to <a class="auth-link" [routerLink]="['/auth/login']">Sign In</a>
          </div>
        </div>
      </div>
      <!-- Set New Password End -->

      <!-- Password Updated Start -->
      <div class='auth-forms-outer' *ngIf="forgotPasswordStep === enumForForgotPasswordStep.SUCCESS_PAGE">
        <div class="auth-card auth-card-otp">
          <div class='auth-titlebar'>
            <div class="auth-logo-small">
              <img src="assets/images/auth-otp-verify.svg" alt="Portfolio - Angular">
            </div>
            <h4>Password updated!</h4>
          </div>
          <div class='auth-forms'>
            <p class="text-center">Your password has been changed successfully.
              use your new password to log in.</p>
            <div class='forms-button'>
              <button class="btn btn-primary" [routerLink]="['/auth/login']">Back to Log In Page</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Password Updated End -->
    </div>
    <div class="auth-right">
      <app-auth-sidebar></app-auth-sidebar>
    </div>
  </div>
</div>